body {
 font-family: Arial, Helvetica, sans-serif;
 color: white;
 background-color: #444;
}
footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: fit-content;
  padding: 20px 10px;
  background-color: #222;
  text-align: center;
}
